<ion-header>

  <ion-navbar  text-center color='primary'>
    <ion-title>Liste des pompistes</ion-title>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-buttons end>
        <button ion-button icon-only clear  (click)="logout()">
            <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding class="content">

    <ion-item class="item-leave-height">
        <ion-label>Choisir pompiste</ion-label>
        <ion-select [(ngModel)]="agent" (ionChange)="onChange()">
            <ng-container  *ngFor="let c of liste_pompiste">
                <ion-option   [value]="c.id" >{{c.name}}</ion-option>
            </ng-container>
        </ion-select>
    </ion-item>
    <ion-card id="montantCarte" *ngIf="listeTransaction">
        <ion-grid>
            <ion-row>
                <ion-col  style="text-align: right;color: darkgreen" class="solde_carte">Total : {{montantTranscations}}</ion-col>
            </ion-row>
            <ion-row *ngIf="qteGasoilRemise != 0">
                <ion-col >Qte Gasoil remisé :   {{qteGasoilRemise}} / Montant : {{mntGasoilRemise}} CFA</ion-col>
            </ion-row>
            <ion-row *ngIf="qteEssenceRemise != 0">
                <ion-col >Qte Essence remisé : {{qteEssenceRemise}} / Montant : {{mntEssenceRemise}} CFA</ion-col>
            </ion-row>
            <ion-row *ngIf="qtePetroleRemise != 0">
                <ion-col >Qte Pétrole remisé : {{qtePetroleRemise}} / Montant : {{mntPetroleRemise}} CFA</ion-col>
            </ion-row>
            <ion-row *ngIf="totalMntRemise != 0">
                <ion-col >Total Qte remisé : {{totalMntRemise}} CFA</ion-col>
            </ion-row>
            <ion-row>
                <ion-col ><button ion-button full style="height: 34px; border-radius: 10px;" (click) ="ValiderShift()">Valider le shift</button></ion-col>
                <ion-col ><button ion-button full style="height: 34px; border-radius: 10px;" (click) ="Actualiser()">Actualiser</button></ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-list *ngIf="listeTransaction">
        <ion-item style="font-weight: bold">
              <ion-label style="width: 35%;flex: initial;" >Nom</ion-label>
              <ion-label style="flex: initial;width: 18%;">Prix</ion-label>
              <ion-label style="flex: initial;width: 35%;">Date transaction</ion-label>
        </ion-item>
        <ion-item *ngFor="let p of listeTransaction" (click)="goToPage(p.id)" style="cursor: pointer;" [ngClass]="(p.state== 'annuler') ? 'annuler' : 'activer'">
            <ion-label>{{p.produit}}</ion-label>
            <ion-label color="danger" style="flex: initial;width: 20%;"><p color="danger">{{p.montant}}</p></ion-label>
            <ion-label>{{p.date_creation}}</ion-label>
            <!--<button ion-button clear item-end>détail</button>-->
        </ion-item>
    </ion-list>


</ion-content>