<ion-tabs *ngIf="gerant == 'Pompiste'">
  <ion-tab [root]="tab1Root" tabTitle="Accueil" tabIcon="home" ></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Profil" tabIcon="contacts"></ion-tab>
</ion-tabs>
<ion-tabs *ngIf="gerant == 'Gerant'">
    <ion-tab [root]="tab3Root" tabTitle="Validation du shift" tabIcon="book" ></ion-tab>
    <ion-tab [root]="tab4Root" tabTitle="Shifts validés" tabIcon="book" ></ion-tab>
    <ion-tab [root]="tab5Root" tabTitle="Transferts" tabIcon="book" ></ion-tab>
    <ion-tab [root]="tab6Root" tabTitle="Stocks" tabIcon="book" ></ion-tab>
    <ion-tab [root]="tab7Root" tabTitle="Versement" tabIcon="book" ></ion-tab>
</ion-tabs>
<ion-tabs *ngIf="gerant == 'Chauffeur'">
    <ion-tab [root]="tab5Root" tabTitle="Transferts" tabIcon="book" ></ion-tab>
    <ion-tab [root]="tab6Root" tabTitle="Stocks" tabIcon="book" ></ion-tab>
</ion-tabs>