<ion-header>
  <ion-navbar text-center color='primary'>
    <ion-title>Mon profil</ion-title>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-buttons end>
        <button ion-button icon-only clear  (click)="logout()">
            <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

</ion-content>
