page-codebarre-tv {

    .text-input-md {
        margin: 5px 10px;
        padding: 10px 10px;
        width: calc(100% - 8px - 8px);
        border: 1px solid #137cc1!important;
        outline: none;
    }
}
