<ion-header>
  <ion-navbar text-center color='primary'>
    <ion-title>Numéro de code barre</ion-title>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-buttons end>
        <button ion-button icon-only clear  (click)="logout()">
            <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">
    <ion-card-content>
      <div class="login-box">
        <ion-row>
          <ion-col>
            <ion-list inset>
              <ion-item style="margin-bottom: 25px;border-radius: 5px;background-color: transparent;border-bottom: 1px solid white;font-size: 19px;color: black">
                  <ion-input [(ngModel)] = "codebarre" placeholder="Code Barre" type="text"></ion-input>
              </ion-item>
              <button ion-button block style="border-radius: 5px;font-weight: bold;" (click)="valider()">Valider</button>
            </ion-list>
          </ion-col>
        </ion-row>
    </div>
    </ion-card-content>
</ion-content>
