<ion-header>
    <ion-navbar text-center color='primary'>
      <!-- <ion-title>Détail</ion-title> -->
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
      <ion-buttons end>
          <button ion-button icon-only clear  (click)="logout()">
              <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
          </button>
      </ion-buttons>
    <ion-buttons slot="primary">
        <button ion-button (click)="print('tablelist')"  style="font-size: 30px">
          <ion-icon name="print"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="content" style="background-color: #f4f4f4" id="tablelist">
      
      <ion-card-content>
        <h1 style="text-align: center;border: 1px solid forestgreen; background-color: forestgreen;
        color: white;font-size: 18px;padding: 3px;margin-top:0px">REÇU DE CAISSE BP</h1>

          <div style="padding:0px 10px;font-size: 15px;">
          <p><strong>Point de vente :</strong> {{point_vente}}</p>
          <p><strong>Agent </strong>: {{agent}}</p>
          <p *ngIf="vente_type=='Vente par TV'"><strong >Consommateur :</strong> {{carte}}</p>
          <p *ngIf="carte != '' && vente_type=='Vente par SUBLIME CARTE'"><strong>Consommateur :</strong> {{carte}}</p>
          <p><strong>Produit :</strong> {{produit}}</p>
          <p><strong>Prix unitaire :</strong> {{prix_unit}}  /  <strong>Quantité :</strong> {{quantite}}</p>
          <p><strong>Montant HT :</strong> {{hor_taxe}}  /  <strong>TVA :</strong> {{tva}}</p>
          <p><strong>Montant TTC :</strong> {{montant}}</p>
          <p><strong>S. initial :</strong> {{solde_avant}}  /  <strong>S. final :</strong> {{solde_apres}}</p>
          <p style="display: none;"><strong>type vente :</strong> {{vente_type}}</p>
          <!-- <p *ngIf="quantite != 0">Quantité : {{quantite}}</p>
          <p *ngIf="quantite != 0">Quantité remisé : {{quantite_remise}}</p> -->
          <p><strong>Immatriculation :</strong> {{immatriculation}}</p>
          <p><strong>Date de transaction :</strong> {{date_transaction}}</p>
          <p style="text-align: center;margin-top: 10px;"><strong>Merci pour votre confiance !</strong></p>
          <p style="width: 100%;margin: 0px 44%"><img src="/assets/imgs/logo_benin.jpg" width="50" height="50"/></p>
          </div>
      </ion-card-content>
      <button ion-button block style="border-radius: 5px;font-weight: bold;"  (click)="AnuulerTrnsaction()" *ngIf="state != 'annuler'  && agent_fonction == 'Gerant' ">Annuler cette transaction</button>
  </ion-content>
  