<ion-header>

  <ion-navbar  text-center color='primary'>
    <ion-title>Liste des produits</ion-title>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-buttons end>
        <button ion-button icon-only clear  (click)="logout()">
            <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-searchbar placeholder="chercher un produit" showCancelButton="true"
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let p of [1,2,3,4,5,6,7,8,9,10]">
        <ion-checkbox color="primary" checked="false"></ion-checkbox>
        <ion-label><h2>My Neighbor Totoro</h2></ion-label>
        <ion-label><p>Hayao Miyazaki • 1988</p></ion-label>
        
        <ion-thumbnail item-start>
            <img src="assets/imgs/icon-lubricants.png">
          </ion-thumbnail>
      <button ion-button clear item-end>View</button>
    </ion-item>
  </ion-list>
</ion-content>
