<ion-header>
    <ion-navbar text-center color='primary'>
        <ion-title>Liste des produits </ion-title>
        <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
        <ion-buttons end>
            <button ion-button icon-only clear  (click)="logout()">
                <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content class="content">
    <ion-card id="montantCarte">
        <ion-grid>
            <ion-row>
            <ion-col col-md-6 *ngIf = "global.client != ''">{{global.client}}<br/>{{global.consomateur}}</ion-col>
            <ion-col col-md-6 style="text-align: right;color: red" class="solde_carte" *ngIf = "global.MontantCarte != ''">Solde : {{global.MontantCarte}} DH</ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-card-content style="margin-top: 10px">
        <ion-list>
          <ion-item *ngFor="let p of buttons" (click)="goToPage(p.id,p.prix)">
                <ion-icon name="navigate" style="position: absolute;z-index: 500;right: 35px;top: 30px;color: white;font-size: 23px;transform: rotate(90deg); "></ion-icon>
             <button ion-button full color="parimary"  class="button_home" >{{p.name}}</button>
          </ion-item>
        </ion-list>
    </ion-card-content>
</ion-content>