page-lubrifiants {
    .toolbar-ios .segment-button{max-width: 200px!important;font-size: 18px;font-weight: bold;}
    #barcode{
        position:absolute;
    left: 0;
    right: 0;
    margin:0 auto;
    top:58%;
    transform:translateY(-50%);
    width: 240px;
      }
}
