<ion-header>
  <ion-navbar text-center color='primary'>
    <ion-title>Stock des produits</ion-title>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-buttons end>
        <button ion-button icon-only clear  (click)="logout()">
            <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="content">
  <ion-card-content>
    <ion-row *ngFor="let p of buttons" >
            <ion-col class="col-md-12" (click)="goToPage(p.id)">
              <button ion-button full  class="button_home">{{p.title}}</button>
          </ion-col>
    </ion-row>
  </ion-card-content>
</ion-content>