
<ion-header>

    <ion-navbar text-center color='primary'>
        <ion-title> </ion-title>
        <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
        <ion-buttons end>
            <button ion-button icon-only clear  (click)="logout()">
                <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
            </button>
        </ion-buttons>
      </ion-navbar>

</ion-header>


<ion-content class="content">
    <ion-card id="montantCarte">
        <ion-grid>
            <ion-row>
              <ion-col col-md-6 *ngIf = "global.client != ''">{{global.client}}<br/>{{global.consomateur}}</ion-col>
              <ion-col col-md-6 style="text-align: right;color: darkgreen" class="solde_carte" *ngIf = "global.MontantCarte != ''">Solde : {{global.MontantCarte}}</ion-col>
            </ion-row>
          </ion-grid>
    </ion-card>
    <ion-item style="margin-top: 10px;">
        <ion-label color="primary" stacked>Montant</ion-label>
        <ion-input [(ngModel)] = "montant" type="number" placeholder="Montant" id="montant" [readonly]="only_read"></ion-input>
    </ion-item>
    <ion-item style="margin-top: 10px;">
        <ion-label color="primary" stacked>L'immatriculation</ion-label>
        <ion-input [(ngModel)] = "immatriculation"  placeholder="L'immatriculation" id="immatriculation" ></ion-input>
    </ion-item>
    <ion-item>
        <button ion-button full style="height: 34px; border-radius: 10px;" (click) ="commander()">Exécuter</button>
    </ion-item>
    
    
</ion-content>
