<ion-header>
    <ion-navbar  text-center color='primary'>
      <ion-title>{{name}}</ion-title>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
      <ion-buttons end>
          <button ion-button icon-only clear  (click)="logout()">
              <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

  <ion-content padding class="content">
      <ion-card-content>
          <ion-list>
              <ion-item *ngFor="let p of listes"  (click)="pageCommande(p.name,p.prix,p.id,0)">
                  <button ion-button full  class="button_home">{{p.name}}</button>
              </ion-item>
          </ion-list>
      </ion-card-content>
  </ion-content>
