<ion-header>
    <ion-navbar text-center color='primary'>
      <ion-title>Versement</ion-title>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
      <ion-buttons end>
          <button ion-button icon-only clear  (click)="logout()">
              <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="content" >
      <ion-card-content *ngIf="type_action=='add'">
            <button  ion-button clear item-end (click)="listVersement()" >Liste des versements</button>
            <h2>Ajouter un versement</h2>
        <ion-item class="item-leave-height">
            <ion-label>Type de produit</ion-label>
            <ion-select [(ngModel)]="typeProduit" (ionChange)="onChange()"> 
                <ng-container>
                    <ion-option>Produits blancs</ion-option>
                    <ion-option>Lubrifiants</ion-option>
                    <ion-option [value]="Gaz">Gaz et accessoire</ion-option>
                    <ion-option>Lavage</ion-option>
                </ng-container>
            </ion-select>
        </ion-item>
        <ion-item class="item-leave-height">
            <ion-label>Banque</ion-label>
            <ion-select [(ngModel)]="banque">
                <ng-container  *ngFor="let c of liste_journal">
                    <ion-option   [value]="c.id" >{{c.name}}</ion-option>
                </ng-container>
            </ion-select>
        </ion-item>
        <ion-item class="item-leave-height">
                <ion-input [(ngModel)] = "num_versement" placeholder="Numéro de versement" type="text"></ion-input>
        </ion-item>
        <ion-item class="item-leave-height">
                <ion-input [(ngModel)] = "montant_versement" disabled="true" placeholder="Montant de versement" type="text"></ion-input>
        </ion-item>
        <button ion-button block style="border-radius: 5px;font-weight: bold;" (click)="enregistrer()">Enregistrer</button>
      </ion-card-content>
      <ion-card-content *ngIf="type_action=='liste'">
            <button  ion-button clear item-end (click)="addVersement()" >Ajouter un versement</button>
            <ion-list>
                    <ion-item  style="cursor: pointer;">
                        <ion-label style="font-weight: bold"><p style="color: black;">Num versement</p></ion-label>
                        <ion-label style="font-weight: bold;"><p style="color: black;">Catégorie</p></ion-label>
                        <ion-label style="font-weight: bold;"><p style="color: black;">Montant</p></ion-label>
                        <ion-label style="font-weight: bold;"><p style="color: black;">Date</p></ion-label>
                    </ion-item>
                    <ion-item  style="cursor: pointer;"  *ngFor="let p of liste_versement" >
                      <ion-label style="max-width: 140px;"><p>{{p.num_versement}}</p></ion-label>
                      <ion-label style="max-width: 140px;"><p>{{p.type_versement}}</p></ion-label>
                      <ion-label style="max-width: 140px;"><p>{{p.montant}}</p></ion-label>
                      <ion-label style="max-width: 140px;"><p>{{p.date_versement}}</p></ion-label>
                  </ion-item>
            </ion-list>
      </ion-card-content>
      <ion-card-content *ngIf="type_action=='detail'">
            <button  ion-button clear item-end (click)="listVersement()" >Liste des versements</button>
            <h1>Numéro du versement {{num_versement}}</h1>
              <p>Catégorie : {{Categorie}}</p>
              <p>Montant : {{montant}}</p>
              <p>Date versement: {{date}}</p>
              <p>Montant : {{montant}}</p>
          </ion-card-content>
  </ion-content>
  