<ion-header>
  <ion-navbar text-center color='primary'>
    <ion-title>Accueil</ion-title>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-buttons end>
        <button ion-button icon-only clear  (click)="logout()">
            <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">
    <ion-card-content>
        
        <ion-list>
            
            <ion-item  (click)="verifierCode()">
                <div style="width: 100%;height: 10px;background-color: #f06547;"></div>
                <ion-icon name="navigate" style="position: absolute;z-index: 500;right: 35px;top: 35px;color: white;font-size: 23px;transform: rotate(90deg); "></ion-icon>
                <button ion-button full  class="button_home" style="background-color: #424242">Ventes</button>
            </ion-item>
            <ion-item *ngFor="let p of buttons" (click)="goToPage(p)">
                <ion-icon name="navigate" style="position: absolute;z-index: 500;right: 35px;top: 26px;color: white;font-size: 23px;transform: rotate(90deg); "></ion-icon>
                <button ion-button full  class="button_home" style="background-color: gray">{{p.title}}</button>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-content>
