<ion-header>
    <ion-navbar text-center color='primary'>
      <ion-title>Gaz</ion-title>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
      <ion-buttons end>
          <button ion-button icon-only clear  (click)="logout()">
              <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content class="content">
        
        <ion-card id="montantCarte">
                <ion-grid>
                        <ion-row>
                          <ion-col col-md-6 *ngIf = "global.client != ''">{{global.client}}<br/>{{global.consomateur}}</ion-col>
                          <ion-col col-md-6 style="text-align: right;color: red" class="solde_carte" *ngIf = "global.MontantCarte != ''">Solde : {{global.MontantCarte}}</ion-col>
                        </ion-row>
                      </ion-grid>
        </ion-card>
        <!--<ion-card-content style="margin-top: 10px">
          <ion-list>
            <ion-item *ngFor="let p of buttons" (click)="goTopage(p.id,p.name,p.prix,1)">
               <button ion-button full color="parimary"  class="button_home" >{{p.name}}</button>
            </ion-item>
          </ion-list>
      </ion-card-content>-->
      <!--<ion-toolbar no-border-top>
          <ion-segment [(ngModel)]="pet">
            <ion-segment-button value="puppies">
              Par mot clé
            </ion-segment-button>
            <ion-segment-button value="kittens" (click)="ScanBarreCode()">
              Par code barre
            </ion-segment-button>
          </ion-segment>
        </ion-toolbar>-->
        <!-- <div>
          <ion-list>
                <ion-searchbar placeholder="chercher un produit" showCancelButton="true"
                  [(ngModel)]="name"
                  [showCancelButton]="shouldShowCancel">
                </ion-searchbar>
            <ion-list>
            <ion-item *ngFor="let p of buttons | search : name" (click)="goTopage(p.id,p.name,p.prix,1)" style="cursor: pointer;">
                <ion-label><h2>{{p.name}}</h2><p style="color: red">{{p.prix | number : fractionSize}}</p></ion-label>
              <button ion-button clear item-end (click)="pagedetail($event,p.id,p.name,p.prix,p.barcode)">Détail</button>
            </ion-item>
           </ion-list>
          </ion-list>
        
            <ion-list>
                <img src="assets/imgs/qrcode.jpg" id="barcode" (click)="ScanBarreCode()"/>
            </ion-list>
        </div> -->
        <ion-list style="margin-top: 50px">
            <ion-item *ngFor="let p of buttons" (click)="goToPage(p.id,p.prix)">
                  <ion-icon name="navigate" style="position: absolute;z-index: 500;right: 35px;top: 30px;color: white;font-size: 23px;transform: rotate(90deg); "></ion-icon>
               <button ion-button full color="parimary"  class="button_home" >{{p.name}}</button>
            </ion-item>
          </ion-list>
  </ion-content>
  