<ion-header>
  <ion-navbar text-center color='primary'>
    <ion-title>Ventes </ion-title>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-buttons end>
        <button ion-button icon-only clear  (click)="logout()">
            <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content">
      <ion-card id="montantCarte">
        <ion-grid>
          <ion-row>
            <ion-col col-md-6 style="color:#008bff" *ngIf="global.client != ''">{{global.client}}<br/>{{global.consomateur}}</ion-col>
            <ion-col col-md-6 style="text-align: right;color: darkgreen" class="solde_carte" *ngIf="global.MontantCarte != ''">Solde : {{global.MontantCarte}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    <ion-card>
      <ion-card-content>
        <div style="height: 10px;background-color: #f06547;width: 98.5%;margin: 0px auto;"></div>
        <div id="content_button">
        <ion-row  *ngFor="let p of buttons">
              <ion-col class="col-md-12" (click)="goToPage(p)">
                  <ion-icon name="navigate" style="position: absolute;z-index: 500;right: 35px;top: 26px;color: white;font-size: 23px;transform: rotate(90deg); "></ion-icon>
                  <button ion-button full  class="button_home">{{p.title}}</button>
              </ion-col>
        </ion-row>
      </div>
      </ion-card-content>
  </ion-card>
</ion-content>
