page-vente {
    
    .col{padding: 0px 5px!important;}
    
    .card-content-md{
        margin-top: 90px!important;
    }
    #content_button .row:nth-child(1) .button_home{
        background-color: #1ab147!important;
    }
    #content_button .row:nth-child(2) .button_home{
        background-color: #137CC1!important;
    }
    #content_button .row:nth-child(3) .button_home{
        background-color: #999!important;
    }
    
}
