<ion-header>

    <ion-navbar  text-center color='primary'>
      <ion-title>Liste des opérations</ion-title>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
      <ion-buttons end>
          <button ion-button icon-only clear  (click)="logout()">
              <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding class="content">
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="pet">
            <ion-segment-button value="puppies">
            Liste détaillée
            </ion-segment-button>
            <ion-segment-button value="kittens" (click)="getTotalParType()">
            Par type de paiement
            </ion-segment-button>
            <ion-segment-button value="kittends" (click)="getTotalParCategorie()">
            Par Catégorie
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <div [ngSwitch]="pet">
    <div *ngSwitchCase="'puppies'">
    <ion-card id="montantCarte">
        <ion-grid>
            <ion-row>
                <ion-col  style="text-align: right;color: darkgreen" class="solde_carte">Total : {{montantTranscations}}</ion-col>
            </ion-row>
            <ion-row *ngIf="qteGasoilRemise != 0">
                <ion-col >Qte Gasoil remisé :   {{qteGasoilRemise}} / Montant : {{mntGasoilRemise}} CFA</ion-col>
            </ion-row>
            <ion-row *ngIf="qteEssenceRemise != 0">
                <ion-col >Qte Essence remisé : {{qteEssenceRemise}} / Montant : {{mntEssenceRemise}} CFA</ion-col>
            </ion-row>
            <ion-row *ngIf="qtePetroleRemise != 0">
                <ion-col >Qte Pétrole remisé : {{qtePetroleRemise}} / Montant : {{mntPetroleRemise}} CFA</ion-col>
            </ion-row>
            <ion-row *ngIf="totalMntRemise != 0">
                <ion-col >Total Qte remisé : {{totalMntRemise}} CFA</ion-col>
            </ion-row>
            <ion-row>
                <ion-col ><button ion-button full style="height: 34px; border-radius: 10px;background-color: #1ab147" (click) ="ValiderShift()" >Valider le shift</button></ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <ion-list>
        <ion-item style="font-weight: bold">
              <ion-label style="width: 35%;flex: initial;" >Nom</ion-label>
              <ion-label style="flex: initial;width: 18%;">Prix</ion-label>
              <ion-label style="flex: initial;width: 35%;">Date de transaction</ion-label>
        </ion-item>
        <ion-item *ngFor="let p of listeTransaction" (click)="goToPage(p.id)" style="cursor: pointer;" [ngClass]="(p.state== 'annuler') ? 'annuler' : 'activer'">
            <ion-label>{{p.produit}}</ion-label>
            <ion-label style="flex: initial;width: 20%;"><p>{{p.montant}}</p></ion-label>
            <ion-label>{{p.date_creation}}</ion-label>
            <!--<button ion-button clear item-end>détail</button>-->
        </ion-item>
    </ion-list>
    </div>
    <div  *ngSwitchCase="'kittens'" >

        <h4>Total des ventes par type de paiement</h4>
        <ion-list>
            <ion-item style="font-weight: bold">
                <ion-label style="width: 60%;flex: initial;">Catégorie</ion-label>
                <ion-label style="width: 40%;flex: initial;">Total</ion-label>
            </ion-item>
            <ion-item *ngFor="let p of listeParType" >
                <ion-label  style="width: 60%;flex: initial;">{{p.type_vente}}</ion-label>
                <ion-label style="width: 40%;flex: initial;">{{p.montant}} CFA</ion-label>
            </ion-item>
        </ion-list>
    </div>
    <div  *ngSwitchCase="'kittends'" >

        <h4>Total des ventes par catégorie</h4>
        <ion-list>
            <ion-item style="font-weight: bold">
                <ion-label style="width: 60%;flex: initial;">Catégorie</ion-label>
                <ion-label style="width: 40%;flex: initial;">Total</ion-label>
            </ion-item>
            <ion-item *ngFor="let p of listeParCategorie" >
                <ion-label  style="width: 60%;flex: initial;">{{p.categorie}}</ion-label>
                <ion-label style="width: 40%;flex: initial;">{{p.montant}} CFA</ion-label>
            </ion-item>
        </ion-list>
    </div>
    </div>
  </ion-content>
  