<ion-menu type="overlay" [content]="mycontent" *ngIf="gerant == 'Geraxwxnt' || gerant == 'Chaufwxxfeur'">
  <ion-buttons end>
    <button ion-button icon-only clear  (click)="logout()">
        <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
    </button>
  </ion-buttons>  
  <ion-header>
      <ion-navbar text-center color='primary'>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-navbar>

    </ion-header>
  <ion-content >
    <ion-list >
      <button ion-item menuClose (click)="goPage('vs')" *ngIf="gerant == 'Gerant'">Validation du shift</button>
      <button ion-item menuClose (click)="goPage('lsv')" *ngIf="gerant == 'Gerant'">Shifts validés</button>
      <button ion-item menuClose (click)="goPage('lt')" *ngIf="gerant == 'Gerant' || gerant == 'Chauffeur'">Liste des transferts</button>
      <button ion-item menuClose (click)="goPage('lp')" *ngIf="gerant == 'Gerant' || gerant == 'Chauffeur'">Liste des produits</button>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>