// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
/*.button_home{height: 100px !important;font-size: 1.7em!important;margin-top: 20px;
    background-color: #e0e0e0;border: 2px solid #838286;color: #008bff;
    border-radius: 15px;font-weight: bold;
}*/
.button_home{
    height: 76px!important;border-bottom: 1px solid white;margin: 0px!important;font-size: 2.2rem!important;
}
#montantCarte{margin: 0px;width: 100%;font-weight: bold}
#montantCarteContent{padding: 6px 10px;}
img{max-width: none!important;}
.item-ios{background-color: transparent!important;}
.item-md{background-color: transparent!important;margin: 0px!important}
//.content{background-image: url("../assets/imgs/background.jpg");}
.card-md,.card-ios{background-color: transparent!important;box-shadow:none!important}
.solde_carte{text-align: right;color: red!important}
#montantCarte{background-color:white!important;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3)!important;}
#input_code_pin{-webkit-text-security:disc;}
.list-md .item-block .item-inner{border: none!important;}
.label-md{margin: 0px!important;}
.item-md{background-color: transparent!important;}
