<ion-header>

    <ion-navbar  text-center color='primary'>
      <ion-title>Détail du shift</ion-title>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
      <ion-buttons end>
          <button ion-button icon-only clear  (click)="logout()">
              <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>


<ion-content padding>

  
  <ion-list>
      <ion-item style="font-weight: bold">
            <ion-label style="width: 35%;flex: initial;" >Nom</ion-label>
            <ion-label style="flex: initial;width: 18%;">Prix</ion-label>
            <ion-label style="flex: initial;width: 35%;">Date de transaction</ion-label>
      </ion-item>
      <ion-item *ngFor="let p of listeTransaction" [ngClass]="(p.state== 'annuler') ? 'annuler' : 'activer'">
          <ion-label>{{p.produit}}</ion-label>
          <ion-label color="danger" style="flex: initial;width: 20%;"><p color="danger">{{p.montant}}</p></ion-label>
          <ion-label>{{p.date_creation}}</ion-label>
          <!--<button ion-button clear item-end>détail</button>-->
      </ion-item>
  </ion-list>
</ion-content>
