<ion-header>

    <ion-navbar  text-center color='primary'>
      <ion-title>Liste des shifts validé</ion-title>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
      <ion-buttons end>
          <button ion-button icon-only clear  (click)="logout()">
              <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>

<ion-content padding>
    <h3>Liste des transactions</h3>
    <ion-list>
        <ion-item style="font-weight: bold">
              <ion-label >Nom du shift</ion-label>
              <ion-label >Date shift</ion-label>
              <ion-label >Total</ion-label>
        </ion-item>
        <ion-item *ngFor="let p of listeShift" (click)="goToPage(p.id)" style="cursor: pointer;" >
            <ion-label>{{p.libele}}</ion-label>
            <ion-label>{{p.date}}</ion-label>
            <ion-label>{{p.total}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
