<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>HomePage</ion-title>
    <ion-buttons end>
      <button ion-button (click)="print('tablelist')">
        <ion-icon name="print"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list id="tablelist">
    <ion-item>
     //some content here
    </ion-item>
  </ion-list>
</ion-content>