<ion-header>
    <ion-navbar text-center color='primary'>
      <ion-title>Détail</ion-title>
      <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
      <ion-buttons end>
          <button ion-button icon-only clear  (click)="logout()">
              <ion-icon ios="ios-power" md="md-power" style="color: white;font-size: 25px;margin-right: 5px;font-weight: bold"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>


<ion-content padding class="content">
    <h3 style="padding-left: 16px;color: red;">Stock des {{categorieProduit}} :</h3>
    <ion-item  style="cursor: pointer;background-color:aqua " *ngIf="categorieProduit" >
        <ion-label style="    padding: 11px 10px;margin: 0px;
        border: 1px solid #ccc;"><p style="color: black"><strong>Produit</strong></p></ion-label>
        <ion-label style="    padding: 11px 10px;margin: 0px;
        border: 1px solid #ccc;"><p style="color: black"><strong>Quantité</strong></p></ion-label>
    </ion-item>
    <ion-item  style="cursor: pointer;" *ngFor="let p of listeProduit" >
        <ion-label style="border: 1px solid #ccc;padding: 10px 5px;margin:0px;"><p style="color: black">{{p.produit_name}}</p></ion-label>
        <ion-label style="border: 1px solid #ccc;padding: 10px 5px;margin:0px;"><p style="color: black">{{p.produit_qty}}</p></ion-label>
    </ion-item>

</ion-content>
